footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #141414;
    color: white;
    padding-inline: 7.5rem;
    margin-block-start: 22.5rem;
}

.footer-left-block-container {
    display: flex;
    justify-content: start;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin: 2rem;
}

.footer-left-block-heading {
    font-family: "Optima", sans-serif;
    font-size: 2rem !important;
}

.footer-right-block-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right-block-heading {
    font-family: "Optima", sans-serif;
    font-size: 1.125rem;
}

.footer-link-container a {
    color: #F2DCDC;
}

@media (max-width:584px) {
    .footer-left-block-container {
        width: 100%;
        justify-content: center;
    }

    .footer-right-block-container {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width:1306px) {
    .footer-right-block-container {
        width: 100%;
    }

}

.copyright-divider {
    width: 100%;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.5rem !important;
    background-color: #141414;
    color: #F2DCDC;
}