nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #BE263B;
    height: 4.6875rem;
    position: relative;
    z-index: 1;
}

.side-panel {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 200px;
    background-color: green;
}

@keyframes sidePanel {
    from {
        display: block;
        width: 0px;
    }

    to {
        display: block;
        width: 200px
    }
}

.menu-bar-container {
    position: relative;
    z-index: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu-bar {
    display: none;
    fill: white;
    width: 2rem;
}

@media (max-width:800px) {

    nav {
        padding-inline: 1rem;
        justify-content: start;
    }

    nav .link-container,
    .sign-up-login-container,
    .logo {
        display: none !important;
    }

    .menu-bar {
        display: block;
    }
}

.link-container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.link-container a {
    color: white;
    text-decoration: none;
    user-select: none;
}

.link-container a:hover {
    transition: transform 0.15s ease;
    transform: translateY(-1px);
    border-bottom: 2px solid white;
}

.sign-up-login-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sign-up-login-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 41px;
}

.sign-up-login-container :nth-child(1) {
    color: white;
    user-select: none;
    border-radius: 10px;
}

.sign-up-login-container :nth-child(1):hover {
    background-color: white;
    color: black;
    transition: background-color 0.15s ease;

}

.sign-up-login-container :nth-child(1):active {
    box-shadow: 0 0 10px black;
}

.sign-up-login-container :nth-child(2) {
    color: white;
    user-select: none;
    border-radius: 10px;
}

.sign-up-login-container :nth-child(2):hover {
    color: black;
    background-color: white;
    transition: background-color 0.15s ease;
}

.sign-up-login-container :nth-child(2):active {
    box-shadow: 0 0 10px black;
}