.team-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 7.5rem;
}

.team-section h2 {
    font-size: 2.5rem;
    font-family: "Optima", sans-serif;
    color: #383838;
    text-align: center;
}

.team-section p {
    width: 100%;
    max-width: 26.5rem;
    line-height: 150%;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #383838;
    margin-block-start: -1rem;
}

.team-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12.9rem;
    margin-block-start: 2.55rem
}

.team-card {
    width: 15.625rem;
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
}

.team-card-img-container {
    overflow: hidden;
    width: 100%;
    min-height: 15.625rem;
    border-radius: 12px;
}

.team-card img {
    width: 100%;
    max-inline-size: 100%;
    display: block;
    filter: grayscale(100%);
}

.team-card h4 {
    margin-block-start: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Optima", sans-serif !important;
    color: #400D14;
}

.team-card p {
    margin-block-end: 1.3rem;
    font-weight: 400;
    font-size: 1.125rem;
    color: #595959;
    text-align: start
}

.team-card img:hover {
    filter: grayscale(0%);
    transition: transform 0.4s ease;
    transform: scale(1.1);
}

@media (max-width:803px) {

    .team-card-container {
        gap: 4rem;
    }

    .team-section {
        padding-inline: 2rem;
    }

    .team-card {
        width: 19rem;
        height: auto;
    }
}

.team-card-socials-container {
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin-block-start: -0.2rem;

}

.social-svg {
    width: 3.41rem;
    height: 3.41rem;
    padding: 0.55rem;
    fill: #400D14;
    border: 1px solid #4F20201A;
    border-radius: 100%;

}

.social-svg:hover {
    fill: white;
    background-color: #400D14;
    animation-name: social-icon-hover;
}

.team-card-socials-container svg {
    fill: #400D14;
}